
<app-navbar></app-navbar>
<div class="container mt-3">
    <h1>Employee Leaves</h1>
    <div class="row rowheight">
        <div >
            <mat-card>
                <h3 class="card-title cardtitle">Leave Requests</h3>
                <div class="tablediv">
                    <table class="table">
                        <thead class="theadbak">
                            <tr>
                                <th scope="col">Type</th>
                                <th scope="col">Description Name</th>
                                <th scope="col">Days Off</th>
                                <th scope="col">Start</th>
                                <th scope="col">End</th>
                                <th scope="col">Status</th>
                                <th scope="col">Employee Name</th>
                                <th scope="col">Approved By</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr>
                                <td>Annual</td>
                                <td>Dummy Description</td>
                                <td>1</td>
                                <td>11/11/2022</td>
                                <td>11/11/2022</td>
                                <td>Submitted</td>
                                <td>Nishu</td>
                                <td>Ishan</td>
                                <td><button type="button" class="btn btn-success">Approve</button></td>
                                <td><button type="button" class="btn btn-danger">Reject</button></td>
                            </tr>
                            <tr>
                                <td>Annual</td>
                                <td>Dummy Description</td>
                                <td>1</td>
                                <td>11/11/2022</td>
                                <td>11/11/2022</td>
                                <td>Submitted</td>
                                <td>Nishu</td>
                                <td>Ishan</td>
                                <td><button type="button" class="btn btn-success">Approve</button></td>
                                <td><button type="button" class="btn btn-danger">Reject</button></td>
                            </tr>
                            <tr>
                                <td>Annual</td>
                                <td>Dummy Description</td>
                                <td>1</td>
                                <td>11/11/2022</td>
                                <td>11/11/2022</td>
                                <td>Submitted</td>
                                <td>Nishu</td>
                                <td>Ishan</td>
                                <td><button type="button" class="btn btn-success">Approve</button></td>
                                <td><button type="button" class="btn btn-danger">Reject</button></td>
                            </tr>
                            <tr>
                                <td>Annual</td>
                                <td>Dummy Description</td>
                                <td>1</td>
                                <td>11/11/2022</td>
                                <td>11/11/2022</td>
                                <td>Submitted</td>
                                <td>Nishu</td>
                                <td>Ishan</td>
                                <td><button type="button" class="btn btn-success">Approve</button></td>
                                <td><button type="button" class="btn btn-danger">Reject</button></td>
                            </tr>
                            <tr>
                                <td>Annual</td>
                                <td>Dummy Description</td>
                                <td>1</td>
                                <td>11/11/2022</td>
                                <td>11/11/2022</td>
                                <td>Submitted</td>
                                <td>Nishu</td>
                                <td>Ishan</td>
                                <td><button type="button" class="btn btn-success">Approve</button></td>
                                <td><button type="button" class="btn btn-danger">Reject</button></td>
                            </tr>
                            <tr>
                                <td>Annual</td>
                                <td>Dummy Description</td>
                                <td>1</td>
                                <td>11/11/2022</td>
                                <td>11/11/2022</td>
                                <td>Submitted</td>
                                <td>Nishu</td>
                                <td>Ishan</td>
                                <td><button type="button" class="btn btn-success">Approve</button></td>
                                <td><button type="button" class="btn btn-danger">Reject</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-card>
        </div>
    </div>
</div>
