<app-navbar></app-navbar>
<div class="container mt-3">
    <h1>Profile</h1>
    <div class="row rowheight">
        <div class="col-7">
            <mat-card>
                <h3 class="card-title cardtitle">Employee details <span><img class="title-icon" src="../../../assets/icons/id-card.png" /></span></h3>
                <div class="tablediv">
                    <table class="table">
                        <thead class="theadbak">
                            <tr>
                                <th scope="col">EID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Phone No</th>
                                <th scope="col">Address</th>
                                <th scope="col">Designation</th>
                                <th scope="col">Employeement start date</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr>
                                <th scope="row">20275</th>
                                <td>Nishani</td>
                                <td>Chamodika</td>
                                <td>0771234567</td>
                                <td>123/A, Veyangoda</td>
                                <td>Project Manager</td>
                                <td>11/11/2022</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </mat-card>
        </div>
        <div class="col-5">
            <mat-card>
                <h3 class="card-title cardtitle">Software details <span><img class="title-icon" src="../../../assets/icons/software.png" /></span></h3>
                <div class="tablediv">
                    <table class="table">
                        <thead class="theadbak">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Issued date</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr>
                                <th scope="row">Adobe Ai</th>
                                <td>Adobe Ai License Key</td>
                                <td>11/11/2022</td>
                                <td>-/-</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </mat-card>
        </div>
    </div>

    <div class="row rowheight">
        <div class="col-7">
            <mat-card>
                <h3 class="card-title cardtitle">Project details <span><img class="title-icon" src="../../../assets/icons/project-management.png" /></span></h3>
                <div class="tablediv">
                    <table class="table">
                        <thead class="theadbak">
                            <tr>
                                <th scope="col">EID</th>
                                <th scope="col">Manager Name</th>
                                <th scope="col">Project Name</th>
                                <th scope="col">Assigned Task</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Start</th>
                                <th scope="col">End</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr>
                                <th scope="row">20275</th>
                                <td>Nishani</td>
                                <td>Papyrus</td>
                                <td>Task 01</td>
                                <td>3 months</td>
                                <td>11/11/2022</td>
                                <td>11/01/2023</td>
                                <td>On-going</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-card>
        </div>
        <div class="col-5">
            <mat-card>
                <h3 class="card-title cardtitle">Software details <span><img class="title-icon" src="../../../assets/icons/hammer.png" /></span></h3>
                <div class="tablediv">
                    <table class="table">
                        <thead class="theadbak">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Issued date</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr>
                                <th scope="row">LogiTech G501</th>
                                <td>Mouse</td>
                                <td>11/11/2022</td>
                                <td>-/-</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </mat-card>
        </div>
    </div>
</div>
